<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center">Your Form Data</h1>
            <h2>Your data was sent via the <%= method %>'s methods req.<%= mechanism %> object.</h2>
            <div>
                <% for(let key in data) { %>
                  <div class="input"><span>The name of your input was: <%= key %> | The value you entered was: <%= data[key] %></span></div>
                <% } %>
            </div>
        </div>
    </body>
</html>
